* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f9f9f9;
  line-height: 1.6;
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 500px 100px;
  grid-template-areas:
    "header"
    "section"
    "footer";
}

.header {
  background-color: #4A4947;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #222;
}

.header nav {
  width: 600px;
  margin-top: 20px;
}

.header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  grid-area: section;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-image: url('./images/back.jpg');
}

.section h2 p {
  position: absolute;
  left: 50px;
}

.section img {
  width: 700px;
  height: 400px;
  display: none;
}

.footer {
  grid-area: footer;
  border: 1px solid black;
  background-color: #4A4947;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #fff;
}

/* home page ends here */

.gallery-conatiner{
  height:100vh;
  width:100%;
  background-image:url('./images/back.jpg');
  background-size:cover;
  display:grid;
  grid-template-columns:repeat(5,1fr);
  grid-template-areas:
  "photo-one photo-two photot-hree"
 
}
.photo-container{
   border:2px solid black;
   width:600px;
   height:100vh;
}
.photo1{
  grid-area:photo-one;
}
.photo2{
  grid-area:photo-two;
}
.photo3{
  grid-area:photo-three;
}