*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
  backgrond-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  height:100vh;
  display:grid;
  grid-template-rows:repeat(5,1fr);
  grid-template-areas:
  "header"
  "section"
  "footer";
}
.header{

}
.header h1{

}
.header nav{

}
.header nav li{

}
.section1{

}
.section1 h2{

}
.section1 p{
    
}
.section1 img{
    
}
.footer1{

}
.footer1 p{

}
