* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f9f9f9;
  line-height: 1.6;
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr 100px;
  grid-template-areas:
    "header"
    "section"
    "footer";
}

.header {
  background-color: #4A4947;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #222;
}

.header nav {
  width: 600px;
  margin-top: 20px;
}

.header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  grid-area: section;
  height:500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-image: url('./images/back.jpg');
}

.section h2 p {
  position: absolute;
  left: 50px;
}

.section img {
  width: 700px;
  height: 400px;
  display: none;
}

 


.footer p {
  color: #fff;
}

/* home page ends here */
.main{
  background-color: #f9f9f9;
    display:grid;
    grid-template-rows:200px 1fr 100px;
    grid-template-areas:
    "text-gallery"
    "photos"
    "space";
}
.text1{
    grid-area:text-gallery;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
     
}
.gallery-conatiner{
    display:grid;
    grid-template-columns:180px 300px 300px 300px 180px;
    grid-area:photos;
     grid-template-areas:
    "leftq photo-one photo-two photo-three rightp";
}
.left{
    grid-area:leftq;
    width:100%;
     
}
.photo-container1{
  grid-area:photo-one;
  width:100%;
    
   display:flex;
   flex-direction:column;
   align-items:center;
}
.photo-container2{
  grid-area:photo-two;
    
     width:100%;
      display:flex;
   flex-direction:column;
   align-items:center;
}
.photo-container3{
  grid-area:photo-three;
     width:100%;
      display:flex;
      flex-direction:column;
   align-items:center;
}
.right{
    grid-area:rightp;
    width:100%;
      
}
 img{
    width:250px;
    height:350px;
    margin:20px 0px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 1s;
 }
 .spaces{
    grid-area:space;
 
 }
  

img:hover {
  transform: scale(1.2);
}

.footer {
  grid-area: footer;
  border: 1px solid black;
  background-color: #4A4947;
  display: flex;
  justify-content: center;
  align-items: center;
}